.wrapper {
    background-color: #ffffff;
    border-bottom: 1px solid #535557;
}

.navBar {
    display: flex;
}

.logoContainer {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-size: 1.5em;
    height: 70px;
    display: block;
}

.logo {
    display: inline-block;
    vertical-align: top;
    transition-duration: 300ms;
}

.logo, .logo:active, .logo:visited {
    color: #113f64;
}

.logo:hover {
    color: #010b13;
}

.link, .link:visited, .link:active {
    color: #113f64;
}

.link:hover {
    color: #010b13;
}
.logo > img {
    float: left;
    padding: 0.3rem;
    margin: 0px;
    max-width: 60px;
}

.logo > span {
    float: left;
    display: block;
    padding: 0.8rem 0;
}

.logo {
    margin: 0.1rem 0.3rem;
}

.navLinkContainer {
    margin: 0.6rem 2rem 0.6rem auto;
    display: flex;
    font-family: "Roboto";
    font-weight: 400;
}

.link {
    padding: 0.6rem 1.2rem;
    margin: 0px;
    border-radius: 3px;
    display: inline-block;
    transition-duration: 300ms;
}
