/* ==========================================================================
       Footer - The bottom of every page
   ========================================================================== */

.siteFooter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: 25% 35% 15% 25%;*/
    width: 100%;
    margin: 0px;
    padding: 1rem 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    color: #bbc7cc;
    background-color: #040404;
    vertical-align: middle;
}

.siteFooter > section {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.siteFooter a {
    color: #bbc7cc;
    text-decoration: none;
    font-weight: bold;
}

.siteFooter a:hover {
    color: #bbc7cc;
    border-bottom: #bbc7cc 1px solid;
}

.logo {
    text-align: center;
}

.logo > img {
    max-width: 50%;
    min-width: 150px;
    padding: 0px;
    margin: 0px;
}

.socialButtons {
    text-align: center;
}

.copyright {
    text-align: center;
}

/* ==========================================================================
   13. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .siteFooter {
        margin-top: 3rem;
        display: flex;
        flex-flow: column wrap;
    }

    .post-template .siteFooter,
    .page-template .siteFooter {
        margin-top: 0;
    }
}