@import '../../styles/colors';
@import '../../styles/global';

.wrapper {
    position: absolute;
    bottom: 0;
    background-color: $color-light;
    width: 100%;
    color: $color-dark;
}

.footer {
    @extend .extended-section;
    padding: $extended-padding;
}

.content {
    display: flex;
}

.left {
    display: flex;
}

.group {
    padding-right: 6rem;
}

.group h4 {
    padding-bottom: 1rem;
}

.group ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    line-height: 1.1em;
}

.grouplink, .grouplink:visited, .grouplink:active {
    color: $color-dark;
}

.grouplink:hover {
    color: $color-main;
}

.footer > section {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (min-width: 501px) {
    .content {
        flex-direction: row;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        flex-direction: column;
    }
}

.logo {
    text-align: center;
}

.logo > img {
    max-width: 30%;
    min-width: 150px;
    padding: 0px;
    margin: 0px;
}

.socialButtons {
    text-align: center;
}

.socialButtons > a {
    margin: 3px;
}

.copyright {
    margin: 0 0 0 auto;
    text-align: right;
    font-size: 0.6em;
}

.cpsLink, .cpsLink:hover, .cpsLink:active, .cpsLink:visited {
    color: $color-dark;
}

.cpsLink, .cpsLink:active, .cpsLink:visited {
    text-decoration: none;
}

.cpsLink:hover {
    text-decoration: underline;
}

.bottom {
    text-align: right;
}