@import '../../styles/colors';

.wrapper {
    position: absolute;
    bottom: 0;
    background-color: $color-light;
    width: 100%;
    color: $color-dark;
    min-height: 30vh;
}

.logo {
    text-align: center;
}

.logo > img {
    max-width: 30%;
    min-width: 150px;
    padding: 0px;
    margin: 0px;
}

.socialButtons {
    text-align: center;
}

.socialButtons > a {
    margin: 3px;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
}

.cpsLink, .cpsLink:hover, .cpsLink:active, .cpsLink:visited {
    color: $color-dark;
}

.cpsLink, .cpsLink:active, .cpsLink:visited {
    text-decoration: none;
}

.cpsLink:hover {
    text-decoration: underline;
}


.footer {
    display: flex;
    flex-wrap: wrap;
}

.footer > section {
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (min-width: 501px) {
    .footer {
        flex-direction: row;
    }
}

@media only screen and (max-width: 500px) {
    .footer {
        flex-direction: column;
    }
}