@import '../../styles/colors';

.wrapper {
    position: absolute;
    bottom: 0;
    background-color: $color-light;
    width: 100%;
    color: $color-dark;
}

.logo {
    text-align: center;
}

.logo > img {
    max-width: 30%;
    min-width: 150px;
    padding: 0px;
    margin: 0px;
}

.socialButtons {
    text-align: center;
}

.socialButtons > a {
    margin: 3px;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
}

.cpsLink, .cpsLink:hover, .cpsLink:active, .cpsLink:visited {
    color: $color-dark;
}

.cpsLink, .cpsLink:active, .cpsLink:visited {
    text-decoration: none;
}

.cpsLink:hover {
    text-decoration: underline;
}
