@import '../../styles/colors';

.tagContainer {
    padding: 1rem 0px;
}

.tag {
    padding: 0.3rem 0.8rem;
    margin: 2px;
    border-radius: 3px;
    display: inline-block;
    transition: background-color 300ms ease;
}

.tag, .tag:hover, .tag:visited, a:active {
    text-decoration: none;
    color: $color-black;
}

.tag, .tag:visited, .tag:active {
    background-color: $color-light;
}

.tag:hover {
    background-color: $color-main;
}