@import '../../styles/colors';

.wrapper {
    background-color: $color-main;
}

.masthead {
    h1, p {
        color: $color-white;
    }

    p {
        margin-top: 1.45rem;
    }

    a:hover {
        color: $color-light !important;
    }
}
