.wrapper {
    background-color: #3369B3;
    min-height: 35vh;
}

.masthead h1, .masthead p {
    color: #ffffff;
}

.masthead h1 {
    font-family: 'myriad-pro';
    font-weight: 600;
}

.masthead p {
    font-family: 'Roboto';
    font-weight: 400;
}